<div class="floating-window__input-image">
    <div class="floating-window__header"></div>
    {{#view App.FullsizeImageView controller=controller}}
        {{#if view.loading}}
            <p>loading fullsize image</p>
        {{else}}
            <img {{bind-attr src=view.dataurl}}>
        {{/if}}
        <p>{{filename}}</p>
    {{/view}}
</div>