@import "compass";

$default-grid-size: 30em;
$grid-border-size: 10px;
$grid-border-color: green;
$matching-trace-color: orange;


.match-grid__body {
  display: flex;
  @include flex-direction(column);
  height: $default-grid-size;
  width:  $default-grid-size;
  border: solid $grid-border-size/2 $grid-border-color;
}

.match-grid__row {
  @include flex(1);
  display: flex;
  @include flex-direction(row);
}

.match-grid__cell {
  @include flex(1);
  background-color: greenyellow;
  border: solid $grid-border-size/2 $grid-border-color;
}


.main-container__match-table {

  th {
    padding: 0
  }

  &:hover .main-container__match-table__pair {

    &.is-horizontal {
      border: 5px solid $matching-trace-color;
    }

    &.is-vertical {
      border: 5px solid $matching-trace-color;
    }

  }

}


.main-container__match-table__pair {

  @include transition(background-color 0.25s);
  background-color: black;

  &.is-diag {
    background-color: white;
  }

  &.is-finished {
    background-color: rgb(114, 218, 114);
  }

  &.is-inprogress {
    background-color: blue;
  }

  &:hover {
    border: 5px solid yellow;
  }

  &:active {
    background-color: green;
  }
}

.main-container__match-table__thumbnail {

  img {
    height: 100%;
    width: 100%;
  }

}

.floating-window__matching-pair__canvas-container {
  padding: 10px;
}