@import "compass";

$default-grid-size: 30em;
$grid-border-size: 10px;
$grid-border-color: green;
$matching-trace-color: orange;


.match-grid__body {
  display: flex;
  @include flex-direction(column);
  height: $default-grid-size;
  width:  $default-grid-size;
  border: solid $grid-border-size/2 $grid-border-color;
}

.match-grid__row {
  @include flex(1);
  display: flex;
  @include flex-direction(row);
}

.match-grid__cell {
  @include flex(1);
  background-color: greenyellow;
  border: solid $grid-border-size/2 $grid-border-color;
  position: relative;
}


.match-grid__node {

  &.is-hover {
    background-color: rgb(0, 203, 64);
  }

  &.is-trace, &.is-trace.is-diag {
    background-color: yellow;
  }

}

.match-grid__node, .match-grid__anchor {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.match-grid__node.is-diag, .match-grid__anchor {
  background-color: #ffffff;
//  cursor: grab;
}


.main-container__match-table__pair {

  @include transition(background-color 0.25s);
  background-color: black;

  &.is-diag {
    background-color: white;
  }

  &.is-finished {
    background-color: rgb(114, 218, 114);
  }

  &.is-inprogress {
    background-color: blue;
  }

  &:hover {
    border: 5px solid yellow;
  }

  &:active {
    background-color: green;
  }

}


img.match-grid__thumbnail {
  height: 100%;
  width: 100%;
}

.floating-window__matching-pair__canvas-container {
  padding: 10px;
}