@import "compass";
@import "../utils";

//=====================================
// Download Indicator
//=====================================

.welcome-screen__download-indicator {
  position: fixed;
  width: 10em;
  top: 1em;
  right: 1em;
}

.welcome-screen__download-indicator__task {
  @include box-shadow(0 0 6px 2px rgba(0, 0, 0, 0.49));
  width: 100%;
  height: 3em;
  margin-bottom: 0.5em;
  overflow: hidden;
  background-color: ghostwhite;
}


//=====================================
// Detail
//=====================================

.welcome-screen__detail-container {

  @include transition(height 0.5s);
  @include box-shadow(inset 0 0 20px 5px rgba(0, 0, 0, 0.49));
  height: 30em;
  position: relative;
  background-color: rgb(157, 157, 157);
  overflow: hidden;
  background-image: url(/demo/Hall-Demo/profile.png);
  background-size: cover;
  background-position: 50%;

  &.is-detail-closed {
    height: 0;
  }

}

.welcome-screen__detail__progress {
  position: absolute;
  width: 20em;
  right: 2em;
  top: 0;
  bottom: 0;
  padding: 2em;
  background-color: rgba(29, 29, 29, 0.76);
}


.welcome-screen__detail__progress__entry {
  height: 2em;
  line-height: 2em;
  background-color: #6D6D6D;
  color: lightgray;
  padding-left: 0.5em;
  margin-top: 10px;
  font-weight: bolder;
}


.welcome-screen__detail__toggle {
  @include border-radius(1em);
  display: block;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 2em;
  height: 2em;
  background-color: rgb(255, 118, 118);
  z-index: 10;

  &:hover {
    @include box-shadow(0 0 6px 2px rgba(0, 0, 0, 0.49));
  }

}

//=====================================
// Rows
//=====================================


.welcome-screen__header {
  width: 100%;
  height: 200px;
  background-color: #ECE7E1;
}


%welcome-screen__row {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
}


.welcome-screen__projects-container {
  @extend %welcome-screen__row;
  background-color: #2F1231;
}


.welcome-screen__demos-container {
  @extend %welcome-screen__row;
  background-color: #4B4261;
}


.welcome-screen__demos, .welcome-screen__projects {
  height: 100%;

  ul {
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    white-space: nowrap;
  }
}

#welcome-screen__row1 {
  @extend %welcome-screen__row;
  background-color: #607091;
}


#welcome-screen__row2 {
  @extend %welcome-screen__row;
  background-color: #89B0C1;
}


//=====================================
// Demo and Project
//=====================================


%welcome-screen__thumbnail-hero {
  @include border-radius(1em);
  background-color: rgba(0, 0, 0, 0.11);
  width: 15em;
  height: 100%;
  position: relative;

  h1 {
    @extend %center-element;
    font-size: 3em;
    height: 1em;
    line-height: 1em;
    font-weight: bolder;
  }

}


%welcome-screen__item-tile {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin-right: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}


%welcome-screen__thumbnail {
  @include transition(box-shadow 0.5s);
  @include box-shadow(0 0 8px 1px rgba(0, 0, 0, 0.8));
  width: 15em;
  height: 100%;
  background: #CECECE;
  position: relative;
  overflow: hidden;

  &.is-expanded {

    .demo-thumbnail__detail {
      background-color: rgba(255,255,255, 0.8);
      color: black;
    }

  }

}

$project-thumbnail-header-height: 2em;

%welcome-screen__thumbnail-tile__header {
  position: relative;
  background-color: #333333;
  color: white;
  height: $project-thumbnail-header-height;
  line-height: $project-thumbnail-header-height;
  font-weight: bolder;
  padding-left: 10px;
}

%welcome-screen__thumbnail-tile__body {
  padding: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: $project-thumbnail-header-height;
}

%project-delete-confirm {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
}

%project-delete-confirm__option {
  height: 50%;
  position: relative;
  cursor: pointer;

  h1 {
    @extend %center-element;
    font-size: 3em;
    height: 1em;
    line-height: 1em;
  }

}

%project-deleting {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: darkred;

  h1 {
    @extend %center-element;
    font-size: 3em;
    height: 1em;
    line-height: 1em;
  }

}

//=====================================
// Project Creator
//=====================================

.welcome-screen__projects__new {
  @include transition(border-color 0.5s);
  @include border-radius(1em);
  height: 100%;
  width: 15em;
  padding: 1em;
  box-sizing: border-box;
  border: 2px dotted gray;

  &.is-invalid {
    border-color: red;
  }

}

.project-creator__input {
  $padding: 10px;
  @include border-radius($padding);
  background-color: white;
  width: 100%;
  height: 30%;
  border: 0;
  padding-right: $padding;
  padding-left: $padding;
  position: relative;
  box-sizing: border-box;

  input {
    font-size: 2em;
    width: 100%;
    outline: none;
    border: 0;
  }

}

.project-creator__submit {
  @include transition(border-color 0.5s);
  width: 100%;
  height: 70%;
  cursor: pointer;
  border: 2px dotted gray;
  @include border-radius(10px);

  &.is-invalid {
    border-color: red;
    cursor: not-allowed;
  }

}

//=====================================
// Projects
//=====================================

.welcome-screen__projects__item {
  @extend %welcome-screen__item-tile;
}

.welcome-screen__projects__header {
  @extend %welcome-screen__thumbnail-hero;

  @include box-shadow(inset 0 0 10px 3px rgba(0, 0, 0, 1));

  h1 {
    color: white;
  }
}

//=====================================
// Project Thumbnail
//=====================================

.welcome-screen__projects__thumbnail {
  @extend %welcome-screen__thumbnail;
}

.project-thumbnail__delete-confirm {
  @extend %project-delete-confirm;
}

.project-thumbnail__delete-confirm__delete {
  @extend %project-delete-confirm__option;
  background-color: indianred;
}

.project-thumbnail__delete-confirm__cancel {
  @extend %project-delete-confirm__option;
  background-color: greenyellow;
}

.project-thumbnail__deleting {
  @extend %project-deleting;
}

.project-thumbnail__header {
  @extend %welcome-screen__thumbnail-tile__header;
}

.project-thumbnail__body {
  @extend %welcome-screen__thumbnail-tile__body;
}

//=====================================
// Demos
//=====================================

.welcome-screen__demos__item {
  @extend %welcome-screen__item-tile;
}

.welcome-screen__demos__header {
  @extend %welcome-screen__thumbnail-hero;

  @include box-shadow(inset 0 0 10px 3px rgba(0, 0, 0, 0.49));

  h1 {
    color: white;
  }
}

//=====================================
// Demo Thumbnail
//=====================================

.welcome-screen__demos__thumbnail {
  @extend %welcome-screen__thumbnail;
}

.demo-thumbnail__delete-confirm {
  @extend %project-delete-confirm;
}

.demo-thumbnail__delete-confirm__delete {
  @extend %project-delete-confirm__option;
  background-color: indianred;
}

.demo-thumbnail__delete-confirm__cancel {
  @extend %project-delete-confirm__option;
  background-color: greenyellow;
}

.demo-thumbnail__deleting {
  @extend %project-deleting;
}

.demo-thumbnail__header {
  @extend %welcome-screen__thumbnail-tile__header;
}

.demo-thumbnail__body {
  @extend %welcome-screen__thumbnail-tile__body;
  background-image: url(/demo/Hall-Demo/thumbnail.jpg);
  background-size: cover;
  background-position: 50%;

}

%demo-thumbnail__tab {
  @include transition(background-color 0.5s);
  width: 100%;
  height: 4em;
  cursor: pointer;
  position: relative;
  margin-bottom: 1em;
  margin-top: 1em;

  h1 {
    @extend %center-element-y;
    width: 100%;
    height: 1em;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
  }

}

.demo-thumbnail__state-bar {
  @extend %demo-thumbnail__tab;
  color: rgb(48, 23, 23);
  background-color: rgba(255, 0, 0, 0.85);

  &:hover {
    background-color: rgb(207, 54, 54);
  }

  &.is-downloaded {
    background-color: rgba(175, 255, 52, 0.85);
    &:hover {
      background-color: rgb(146, 185, 86);
    }
  }

  &.is-inprogress {
    background-color: green;
  }

}

.demo-thumbnail__detail {
  @extend %demo-thumbnail__tab;
  background-color: rgba(29, 29, 29, 0.76);
  color: lightgray;

  &:hover {
    background-color: rgb(61, 61, 61);
  }

}