@import "compass";

.message-tray {
  $gap: 1em;
  position: fixed;
  top: $gap;
  left: $gap;
  z-index: 100;
}

$message-min-size: 4em;
$message-width: 20em;

.message-tray__icon {
  @include transition(0.5s);
  $radius: 2em;
  width: $radius*2;
  height: $radius*2;
  @include border-radius($radius);
  background-color: rgba(0,0,0,0.5);
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  color: white;
  cursor: pointer;

  span {
    font-family: "sans-serif";
    font-size: 2em;
    color: white;
  }

  &:hover {
    @include box-shadow(0 0 10px 3px rgb(65, 65, 65));
    background-color: white;
    span { color: black; }
  }

}

.message-tray__body {
  $name: message-tray-in;
  @include keyframes($name) {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @include animation($name 0.5s);
  @include box-shadow(0 0 5px 2px rgb(65, 65, 65));
  background-color: rgb(218, 218, 218);
}

.message-tray__header {
  height: 2em;
  padding: 0.5em 1em;
  display: flex;
  @include align-items(center);
}

.message-tray__status {
  @include flex(1 0 0);
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(66, 66, 66);
}

.message-tray__close {
  cursor: pointer;
}

.message-tray__queue {

  $half-gap: 0.5em/2;
  padding: $half-gap;

  > li {
    margin: $half-gap;
    width: $message-width;
    min-height: $message-min-size;
    background-color: white;
  }

}

//=================
//
//=================

.task-message {
  display: flex;
}


.task-message__body {
  @include flex(1 1 0);
  padding: 0.5em;
}

.task-message__progress {
  @include transition(0.5s);
  width: $message-min-size;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  background-color: rgb(142, 142, 142);
  font-weight: bold;
}

//=================
//
//=================

.basic-message {
  display: flex;
}

.basic-message__body {
  @include flex(1 1 0);
  padding: 0.5em;
}

.basic-message__dismiss {
  cursor: pointer;
  @include transition(0.5s);
  width: $message-min-size;
  display: flex;
  @include align-items(center);
  @include justify-content(center);

  &:hover {
    background-color: rgb(142, 142, 142);
  }

}