<div class="floating-window__input-image">
    <div class="floating-window__header">
        <span class="floating-window__header__h1">IMAGE&nbsp;</span>
        <span class="floating-window__header__h2">{{model.filename}}</span>
        <div class="exit-icon" {{action "back"}}></div>
    </div>

    <div class="floating-window__inner-container">
        {{image-detail image=model resource=resource}}
    </div>
</div>