<div class="welcome-screen__demos">
    <ul>
        <li class="welcome-screen__demos__header">DEMOS</li>
        {{#each demo in controller}}
            {{view App.ProjectThumbnailView controller=demo}}
        {{/each}}
    </ul>
</div>