<div class="welcome-screen__demos">
    <ul>
        <li class="welcome-screen__demos__item">
            <div class="welcome-screen__demos__header">
                <h1>DEMOS</h1>
            </div>
        </li>
        {{#each demo in controller}}
            <li class="welcome-screen__demos__item">
                {{view App.DemoThumbnailView controller=demo}}
            </li>
        {{/each}}
    </ul>
</div>