<div class="welcome-screen__projects">
    <ul>

        <li class="welcome-screen__projects__item">
            <div class="welcome-screen__projects__header">
                <h1>Projects</h1>
            </div>
        </li>

        {{#each project in controller}}
            <li class="welcome-screen__projects__item">
                {{view App.ProjectThumbnailView controller=project}}
            </li>
        {{/each}}

        <li class="welcome-screen__projects__item">
            {{view App.ProjectCreatorView controller=controller}}
        </li>

    </ul>
</div>