<div class="project-creator__input">

    {{input value=newProjectName placeholder="Name"}}

    {{#unless isInvalid}}
        <div class="project-creator__submit" {{action "createProject"}}>
            <h1>Create</h1>
        </div>
    {{/unless}}

</div>