<div class="project-thumbnail__header">
    <span>{{name}}</span>
    <div class="exit-icon" {{action "deleteProject"}}></div>
</div>

<div class="project-thumbnail__body" {{action "enter" controller.model}}>
    {{#if controller.isDeleting}}
        <div >Deleting</div>
    {{else}}
        <div >Enter</div>
    {{/if}}
</div>