<div class="project-thumbnail__header">
    <span>{{name}}</span>
    <div class="exit-icon" {{action "delete"}}></div>
</div>

<div class="project-thumbnail__body">
    <div>
        <div {{action "enter"}}>Enter</div>
    </div>
</div>