<div class="floating-window__input-image">
    <div class="floating-window__header"></div>
    {{#if isLoading}}
        <p>loading fullsize image</p>
    {{else}}
        <img {{bind-attr src=dataurl}}>
    {{/if}}
    <p>{{filename}}</p>
</div>