@import "../../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass";

#main-container__input-gallery-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding: 5px;
}

#main-container__input-gallery {
  list-style: none;
}

.main-container__input-gallery__item {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
  position: relative;
  border: solid 0.4em rgb(187,187,187);
  margin-bottom: 5px;
}

.main-container__input-gallery__input {
  @include transition(background-color 0.25s);
  background-color: rgb(228, 228, 228);
  cursor: copy;

  &:hover, &.is-active {
    background-color: grey;
  }

  h1 {
    line-height: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
  }

}

$hover-delta: -1.5em;
.main-container__input-gallery__image {
  @include transition(box-shadow 0.25s);
  overflow: hidden;
  background: grey;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  &:hover {
    @include box-shadow(0 0 20px 10px rgba(0, 0, 0, 0.75));
    position: absolute;
    top: $hover-delta;
    bottom: $hover-delta;
    left: $hover-delta;
    right: $hover-delta;
    z-index: 2;
  }

}