@import "../../../../../../../../.gem/ruby/2.1.0/gems/compass-core-1.0.1/stylesheets/compass";

$default-grid-size: 55em;
$grid-border-size: 10px;
$grid-border-color: green;
$matching-trace-color: orange;


.main-container__match-grid {
  width: 100%;
  height: 100%;
}

.match-grid__body {
  margin: 1em;
  display: flex;
  @include flex-direction(column);
  height: $default-grid-size;
  width:  $default-grid-size;
  border: solid $grid-border-size/2 $grid-border-color;
}

.match-grid__row {
  @include flex(1 1 0);
  display: flex;
  @include flex-direction(row);
}

.match-grid__cell {
  @include flex(1 1 0);
  border: solid $grid-border-size/2 $grid-border-color;
  position: relative;
}


.match-grid__node {

  background-color: #ffffff;

  &:hover {
    border: 5px solid rgb(92, 181, 21);
  }

  &.is-trace, &.is-trace.is-diag {
    border: 5px solid rgb(0, 203, 64);
  }

  &.is-connected {
    background-color: greenyellow;
  }

  &.is-robust {
    background-color: rgb(107, 192, 107);
  }

}

.match-grid__node, .match-grid__anchor {
  box-sizing: border-box;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.match-grid__node.is-diag, .match-grid__anchor {
  background-color: #ffffff;
}


.main-container__match-table__pair {

  @include transition(background-color 0.25s);

  &.is-finished {
    background-color: rgb(114, 218, 114);
  }

  &.is-inprogress {
    background-color: blue;
  }

  &:active {
    background-color: green;
  }

}


img.match-grid__thumbnail {
  height: 100%;
  width: 100%;
}

.floating-window__matching-pair__canvas-container {
  padding: 10px;
}

//===========================
// Visual Mode Tabs
//===========================

.match-pair__visual-modes {
  $margin: 1em;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: $margin;
  top: $margin;
  width: 10em;
  @include box-shadow(0 0 10px 1px black);
}