<div class="match-grid__body">

    <div class="match-grid__row">

        <div id=" match-grid__anchor" class="match-grid__cell"></div>

        {{! ===================================================== }}
        {{!                   Top Thumbnails                      }}
        {{! ===================================================== }}

        {{#each imgTo in images}}
            <div class="match-grid__cell">
                <img class="match-grid__thumbnail" {{bind-attr src=imgTo.thumbnail}}>
            </div>
        {{/each}}

    </div>

    {{#each iFrom in images}}

    {{! ===================================================== }}
    {{!                     Each Row                          }}
    {{! ===================================================== }}

        <div class="match-grid__row">

            <div class="match-grid__cell">
                <img class="match-grid__thumbnail" {{bind-attr src=iFrom.thumbnail}}>
            </div>

            {{#each iTo in images}}
                <div class="match-grid__cell">
                    {{#view view.NodeView from=iFrom to=iTo}}{{/view}}
                </div>
            {{/each}}

        </div>

    {{/each}}

</div>

{{outlet}}