{{view App.RegisterView controller=controller}}
<div class="floating-window__register">
    <div class="floating-window__register__view-list">
        {{#each cameras}}
            <div class="floating-window__register__view-list__item">
                this is a camera
            </div>
        {{/each}}
    </div>
</div>