{{view "register" controller=controller}}
<div class="floating-window__register">
    <div class="floating-window__register__view-list">
        {{#each cam in cameras}}
            <div class="floating-window__register__view-list__item" {{action "focus" cam}}>
                <span>Camera</span>
            </div>
        {{/each}}
    </div>
</div>