<div class="floating-window__extractor-image">
    <div class="floating-window__header"></div>
    {{#view App.SiftView controller=controller}}
        <div>Loading Fullsize Image</div>
    {{/view}}
    <p>{{filename}}</p>
</div>