<div class="floating-window__extractor-image">
    <div class="floating-window__header"></div>
    {{#view App.SiftView controller=controller}}
        <canvas></canvas>
        {{#if view.loading}}
            <div>Loading Fullsize Image</div>
        {{/if}}
    {{/view}}
    <p>{{filename}}</p>
</div>