@import "reset";
@import "../../../../../../.gem/ruby/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass";
@import "welcome-screen";
@import "controll-panel";
@import "matches";
@import "projects";
@import "utils";

%frame {
  margin: 0;
  border: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  @extend %frame;
}

#main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(228, 228, 228);
}

%floating-window {
  @include box-shadow(0 0 10px 3px rgba(0, 0, 0, 0.49));
  @extend  %frame;
  position: absolute;
  height: 90%;
  top: 5%;
  background-color: #CECECE;
}

$controll-panel-width: 20em;
$floating-window-offset: $controll-panel-width + 4em;

#controll-panel {
  @extend %floating-window;
  width: $controll-panel-width;
  right: 3em;
  overflow-y: hidden;
}

#main-container__input-gallery {
  @extend %frame;
  list-style: none;
}

.main-container__input-gallery__item {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
}

.main-container__input-gallery__input {
  background-color: #FFFFFF;
  @include transition(background-color 0.25s);

  &:hover {
    background-color: grey;
  }

}


.main-container__input-gallery__image {
  overflow: hidden;

  img.is_horizontal {
    height: 200px;
  }

  img.is_vertical {
    width: 200px;
  }
}


//=======================================

.floating-window__header {
  background-color: #333333;
  height: 2em;
}


.floating-window__input-image {
  @extend %floating-window;
  width: 500px;
  right: $floating-window-offset;
  img {
    width: 100%;
  }
}

.floating-window__extractor-image {
  @extend %floating-window;
  width: 500px;
  right: $floating-window-offset;
}

$matching-table-width: 20em;

.floating-window__matching-table {
  @extend %floating-window;
  width: $matching-table-width;
  right: $floating-window-offset;
}


.floating-window__matching-pair {
  @extend %floating-window;
  width: 500px;
  right: $floating-window-offset + $matching-table-width + 1em;
}

//=======================================

.main-container__stereo-container {
}

body {
  overflow: hidden;
}