/* Main Style Sheet of WebSFM */

@import "reset";
@import "compass";
@import "utils";
@import "dimensions";

@import "partials/welcome-screen";
@import "partials/controll-panel";
@import "partials/matches";
@import "partials/projects";
@import "partials/register";
@import "partials/floating-window";

html, body {
  height: 100%;
  width: 100%;
  font-family: Electrolize;
}

#main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(228, 228, 228);
  overflow: hidden;
}

#controll-panel {
  @extend %floating-window;
  width: $controll-panel-width;
  right: 3em;
  overflow-y: hidden;
}

#main-container__input-gallery {
  list-style: none;
}

.main-container__input-gallery__item {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 200px;
}

.main-container__input-gallery__input {
  background-color: #FFFFFF;
  @include transition(background-color 0.25s);

  &:hover {
    background-color: grey;
  }

}

.main-container__input-gallery__image {
  overflow: hidden;

  img.is_horizontal {
    height: 200px;
  }

  img.is_vertical {
    width: 200px;
  }
}

.floating-window__input-image {
  @extend %floating-window;
  width: 500px;
  right: $floating-window-offset;
  img {
    width: 100%;
  }
}

.floating-window__extractor-image {
  @extend %floating-window;
  width: 500px;
  right: $floating-window-offset;
}

$matching-table-width: 20em;

.floating-window__matching-table {
  @extend %floating-window;
  width: $matching-table-width;
  right: $floating-window-offset;
}


.floating-window__matching-pair {
  @extend %floating-window;
  width: 500px;
  right: $floating-window-offset + $matching-table-width + 1em;
}