//===========================================

.controll-panel__l1-tab {
  height: 2em;
  background-color: rgb(77, 77, 77);
//  border-left: 20px solid;
  padding-left: 0.5em;
}

.controll-panel__l1-body {}

.controll-panel__l2-tab {
  height: 2em;
  //  border-left: 5px solid;
  background-color: rgb(58, 58, 58);
  color: lightgray;
  padding-left: 0.5em;
}

.controll-panel__l2-body {}

.controll-panel__l3-tab {
  min-height: 2em;
  background-color: rgb(34, 34, 34);
  color: grey;
  padding-left: 0.5em;
  border-left: 10px solid;
}

//===========================================

#controll-panel__images {
  border-left-color: yellowgreen;
}

#controll-panel__parameters {
  border-left-color: darkgreen;
}

#controll-panel__matching {
  border-left-color: lightblue;
}


#controll-panel__tracking {
  border-left-color: dodgerblue;
}

#controll-panel__recovery {
  border-left-color: darkblue;
}

#controll-panel__two-view-stereo {
  border-left-color: dodgerblue;
}

#controll-panel__mvs {
  border-left-color: darkblue;
}


//==================================================

$state-bar-height: 5em;

#controll-panel__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.controll-panel__state-body {

}

.controll-panel__state-bar {
  width: 100%;
  height: $state-bar-height;
  position: relative;
}

.controll-panel__state-bar__toggle {
  width: $state-bar-height;
  height: $state-bar-height;
  background-color: yellow;
  cursor: pointer;

  div {
    height: 100%;
    width: 100%;
  }

  .is_running {
    background-color: red;
  }

  .is_stopped {
    background-color: blue;
  }

}

.controll-panel__state-bar__body {
  background-color: black;
  position: absolute;

  left: $state-bar-height;
  bottom: 0;
  top: 0;
  right: 0;
}

//==================================================


.controll-panel__cpu-setting {

  &:hover {

    .will-enable {
      background-color: green;
    }

    .will-disable {
      background-color: red;
    }

  }

}

$cpu-node-size: 2em;

.controll-panel__cpu-setting__node {
  display: inline-block;
  height: $cpu-node-size;
  width: $cpu-node-size;

  div {
    height: 100%;
    width: 100%;
    background-color: rgb(46, 46, 46);
  }

  .is-enabled {
    background-color: rgb(170, 170, 170);
  }

}