//===========================================

.controll-panel__l1-tab {
  height: 2em;
  background-color: rgb(77, 77, 77);
  border-left: 20px solid;
  padding-left: 0.5em;
}

.controll-panel__l1-body {}

.controll-panel__l2-tab {
  height: 2em;
  border-left: 5px solid;
  background-color: rgb(58, 58, 58);
  color: lightgray;
  padding-left: 0.5em;
}

.controll-panel__l2-body {}

.controll-panel__l3-tab {
  height: 2em;
  background-color: rgb(34, 34, 34);
  color: grey;
  padding-left: 0.5em;
}

//===========================================

#controll-panel__input .controll-panel__l1-tab{
  border-left-color: yellowgreen;
}

#controll-panel__progress .controll-panel__l1-tab {
  border-left-color: darkgreen;
}

#controll-panel__extractor .controll-panel__l2-tab {
  border-left-color: lightblue;
}


#controll-panel__register .controll-panel__l2-tab {
  border-left-color: dodgerblue;
}

#controll-panel__stereo .controll-panel__l2-tab {
  border-left-color: darkblue;
}


//==================================================

$state-bar-height: 5em;

#controll-panel__footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.controll-panel__state-body {

}

.controll-panel__state-bar {
  width: 100%;
  height: $state-bar-height;
  position: relative;
}

.controll-panel__state-bar__toggle {
  width: $state-bar-height;
  height: $state-bar-height;
  background-color: yellow;
  cursor: pointer;

  div {
    height: 100%;
    width: 100%;
  }

  .is_running {
    background-color: red;
  }

  .is_stopped {
    background-color: blue;
  }

}

.controll-panel__state-bar__body {
  background-color: black;
  position: absolute;

  left: $state-bar-height;
  bottom: 0;
  top: 0;
  right: 0;
}
