.main-container__project-selection {

  margin: 0;
  padding: 0;
  list-style: none;

}

.project-thumbnail {

  display: inline-block;
  vertical-align: top;
  width: 15em;
  height: 30em;
  background: grey;

}