.welcome-screen__header {
  width: 100%;
  height: 400px;
  background-color: #0000ff;
}

.welcome-screen__demos {
  width: 100%;
  height: 300px;
  background-color: beige;
}

.welcome-screen__projects {
  width: 100%;
  height: 300px;
  background-color: burlywood;
}