<div id="controll-panel__header" class="floating-window__header">WebSFM</div>
<div id="controll-panel__input">{{render "panels/input"}}</div>
<div id="controll-panel__phases">
    <div>
        <div>Structure from Motion</div>
        <div id="controll-panel__sift"    class="controll-panel__phase">{{render "panels/sift"}}</div>
        <div id="controll-panel__bundler" class="controll-panel__phase">{{render "panels/register"}}</div>
        <div id="controll-panel__mvs"     class="controll-panel__phase">{{render "panels/mvs"}}</div>
    </div>
</div>
<div id="controll-panel__footer"></div>