<div class="welcome-screen__header">
Welcome to WebSFM
</div>

<div class="welcome-screen__projects">
    <ul>
        {{#each project in projects}}
            {{view App.ProjectThumbnailView controller=project}}
        {{/each}}
    </ul>
</div>

<div class="welcome-screen__demos">
    <ul>
        {{#each project in demos}}
            {{view App.ProjectThumbnailView controller=project}}
        {{/each}}
    </ul>
</div>
